<!DOCTYPE html>
<html>
  <head>
    <title>Cross-Check</title>
    <link rel='stylesheet'
  type='text/css'
  href='style.css'>
  </head>
  <body>
    <header>
      <h1>
        Cross-Check
      </h1>
    </header>
    <div class='box'>
      <h2 class='game_stats'>Game Statistics
        <ul>
          <li>Highest Total Score:<br>
            <%= stat_tracker.highest_total_score %>
<<<<<<< HEAD
          </br><br></br></li>
          <li>Lowest Total Score:<br>
            <%= stat_tracker.lowest_total_score %>
          </br><br></br></li>
          <li>Biggest Blowout:<br>
            <%= stat_tracker.biggest_blowout %>
          </br><br></br></li>
          <li>Most Popular Venue:<br>
            <%= stat_tracker.most_popular_venue %>
          </br><br></br></li>
          <li>Least Popular Venue:<br>
            <%= stat_tracker.least_popular_venue %>
            </br><br></br></li>
=======
          </br></li>
          <li>Lowest Total Score:<br>
            <%= stat_tracker.lowest_total_score %>
          </br></li>
          <li>Biggest Blowout:<br>
            <%= stat_tracker.biggest_blowout %>
          </br></li>
          <li>Most Popular Venue:<br>
            <%= stat_tracker.most_popular_venue %>
          </br></li>
          <li>Least Popular Venue:<br>
            <%= stat_tracker.least_popular_venue %>
            </br></li>
>>>>>>> c6009e753ba331ad4723b8039eee82998bb9e8f4
          </ul></h2>
      <h2 class='league_stats'>League Statistics</h2>
      <h2 class='season_stats'>Season Statistics</h2>
      <h2 class='team_stats'>Team Statistics</h2>
    </div>
  </body>
</html>
