<!DOCTYPE html>
<html>
  <head>
    <title>Cross-Check</title>
    <link rel='stylesheet'
  type='text/css'
  href='style.css'>
  </head>
  <body>
    <header>
      <h1>
        Cross-Check
      </h1>
    </header>
    <div class='box'>
      <h2 class='game_stats'>Game Statistics
        <ul>
          <li>Highest Total Score:<br>
            <%= stat_tracker.highest_total_score %>
            </br><br></br>
          </li>
          <li>Lowest Total Score:<br>
            <%= stat_tracker.lowest_total_score %>
            </br><br></br>
          </li>
          <li>Biggest Blowout:<br>
            <%= stat_tracker.biggest_blowout %>
            </br><br></br>
          </li>
          <li>Most Popular Venue:<br>
            <%= stat_tracker.most_popular_venue %>
            </br><br></br>
          </li>
          <li>Least Popular Venue:<br>
            <%= stat_tracker.least_popular_venue %>
            </br><br></br>
          </li>
          <li>Percentage Home Wins:<br>
            <%= stat_tracker.percentage_home_wins %>
            </br><br></br>
          </li>
          <li>Percentage Visitor Wins:<br>
            <%= stat_tracker.percentage_visitor_wins %>
              </br><br></br>
            </li>
          <li>Season with the Most Games:<br>
            <%= stat_tracker.season_with_most_games %>
            </br><br></br>
          </li>
          <li>Season with the Fewest Games:<br>
            <%= stat_tracker.season_with_fewest_games %>
            </br><br></br></li>
          <li>Count of Games by Season:<br>
            <% stat_tracker.count_of_games_by_season.each do |season, game_count| %>
              <%= "#{season}: #{game_count}" %>
            <% end %>
            </br><br></br>
          </li>
          <li>Average Goals per Game:<br>
            <%= stat_tracker.average_goals_per_game %>
            </br><br></br>
          </li>
          <li>Average Goals by Season:<br>
            <% stat_tracker.average_goals_by_season.each do |season, average| %>
              <%= "#{season}: #{average}" %>
            <% end %>
          </br><br></br></li>
        </ul>
      </h2>
      <h2 class='league_stats'>League Statistics
        <ul>
          <li>Count of Teams:<br>
            <%= stat_tracker.count_of_teams %>
            </br><br></br>
          </li>
          <li>Best Offense:<br>
            <%= stat_tracker.best_offense %>
            </br><br></br>
          </li>
          <li>Worst Offense:<br>
            <%= stat_tracker.worst_offense %>
            </br><br></br>
          </li>
          <li>Best Defense:<br>
            <%= stat_tracker.best_defense %>
            </br><br></br>
          </li>
          <li>Worst Defense:<br>
            <%= stat_tracker.worst_defense %>
            </br><br></br>
          </li>
          <li>Highest Scoring Visitor:<br>
            <%= stat_tracker.highest_scoring_visitor %>
            </br><br></br>
          </li>
          <li>Highest Scoring Home Team:<br>
            <%= stat_tracker.highest_scoring_home_team %>
            </br><br></br>
          </li>
          <li>Lowest Scoring Visitor:<br>
            <%= stat_tracker.lowest_scoring_visitor %>
            </br><br></br>
          </li>
          <li>Lowest Scoring Home Team:<br>
            <%= stat_tracker.lowest_scoring_home_team %>
            </br><br></br>
          </li>
          <li>Winningest Team:<br>
            <%= stat_tracker.winningest_team %>
            </br><br></br>
          </li>
          <li>Best Fans:<br>
            <%= stat_tracker.best_fans %>
            </br><br></br></li>
          <li>Worst Fans:<br>
            <% if stat_tracker.worst_fans == [] %>
              <%= "n/a" %>
            <% else %>
              <%= stat_tracker.worst_fans %>
            <% end %>
            </br><br></br>
          </li>
        </ul>
      </h2>
      <h2 class='season_stats'>Season Statistics
        <ul>
          <li>Biggest Bust per Season:<br>
            <% stat_tracker.list_seasons.each do |season| %>
              <%= "#{season}:  #{stat_tracker.biggest_bust(season)}" %>
            <% end %>
            </br><br></br>
          </li>
          <li>Biggest Surprise per Season:<br>
            <% stat_tracker.list_seasons.each do |season| %>
              <%= "#{season}:  #{stat_tracker.biggest_surprise(season)}" %>
            <% end %>
            </br><br></br>
          </li>
          <li>Season Summaries by Team:<br>
            <% stat_tracker.teams.each do |team| %>
              <% team.seasons.each do |season| %>
                <br></br>
                <%= "#{team.team_name} / #{season[1].season_id}:  #{stat_tracker.season_summary(season[1].season_id, team.team_id)}" %>
              <% end %>
              <br></br>
            <% end %>
            </br><br></br>
          </li>
        </ul>
      </h2>
      <h2 class='team_stats'>Team Statistics
        <ul>
          <li>Team Info<br>
            <% stat_tracker.teams.each do |team| %>
              <br></br>
              <%= team.team_name + ": " %>
              <%= stat_tracker.team_info(team.team_id) %>
              <br></br>
            <% end %>
            </br><br></br>
          </li>
          <li>Best Season</li>
            <% stat_tracker.teams.each do |team| %>
              <br></br>
              <%= team.team_name + ": " %>
              <% if team.seasons.keys != [] %>
                <%= stat_tracker.best_season(team.team_id) %>
              <% else %>
                <%= 'no seasons played' %>
              <% end %>
              <br></br>
            <% end %>
            </br><br></br>
          <li>Worst Season</li>
            <% stat_tracker.teams.each do |team| %>
              <br></br>
              <%= team.team_name + ": " %>
              <% if team.seasons.keys != [] %>
                <%= stat_tracker.worst_season(team.team_id) %>
              <% else %>
                <%= 'no seasons played' %>
              <% end %>
              <br></br>
            <% end %>
            </br><br></br>
          <li>Average Win Percentage</li>
            <% stat_tracker.teams.each do |team| %>
              <br></br>
              <%= team.team_name + ": " %>
              <%= stat_tracker.average_win_percentage(team.team_id) %>
                <br></br>
            <% end %>
            </br><br></br>
          <li>Most Goals Scored</li>
            <% stat_tracker.teams.each do |team| %>
              <br></br>
              <%= team.team_name + ": " %>
              <% if stat_tracker.team_games(team.team_id) != nil %>
                <%= stat_tracker.most_goals_scored(team.team_id) %>
              <% else %>
                <%= 0 %>
              <% end %>
              <br></br>
            <% end %>
            </br><br></br>
          <li>Fewest Goals Scored</li>
            <% stat_tracker.teams.each do |team| %>
              <br></br>
              <%= team.team_name + ": " %>
              <% if stat_tracker.team_games(team.team_id) != nil %>
                <%= stat_tracker.fewest_goals_scored(team.team_id) %>
              <% else %>
                <%= 0 %>
              <% end %>
              <br></br>
            <% end %>
            </br><br></br>
          <li>Favorite Opponent</li>
            <% stat_tracker.teams.each do |team| %>
              <br></br>
              <%= team.team_name + ": " %>
              <% if team.total[:games] != 0 %>
                <%= stat_tracker.favorite_opponent(team.team_id) %>
              <% else %>
                <%= 0 %>
              <% end %>
              <br></br>
            <% end %>
            </br><br></br>
          <li>Rival</li>
            <% stat_tracker.teams.each do |team| %>
              <br></br>
              <%= team.team_name + ": " %>
              <% if team.total[:games] != 0 %>
                <%= stat_tracker.rival(team.team_id) %>
              <% else %>
                <%= 0 %>
              <% end %>
              <br></br>
            <% end %>
            </br><br></br>
          <li>Biggest Team Blowout</li>
            <% stat_tracker.teams.each do |team| %>
              <br></br>
              <%= team.team_name + ": " %>
              <% if team.total[:games] != 0 %>
                <%= stat_tracker.biggest_team_blowout(team.team_id) %>
              <% else %>
                <%= 0 %>
              <% end %>
              <br></br>
            <% end %>
            </br><br></br>
          <li>Worst Loss</li>
            <% stat_tracker.teams.each do |team| %>
              <br></br>
              <%= team.team_name + ": " %>
              <% if team.total[:games] != 0 %>
                <%= stat_tracker.worst_loss(team.team_id) %>
              <% else %>
                <%= 0 %>
              <% end %>
              <br></br>
            <% end %>
            </br><br></br>
          <li>Head to Head</li>
            <% stat_tracker.teams.each do |team| %>
              <br></br>
              <%= team.team_name + ": " %>
              <% if team.total[:games] != 0 %>
                <%= stat_tracker.head_to_head(team.team_id) %>
              <% else %>
                <%= 0 %>
              <% end %>
              <br></br>
            <% end %>
            </br><br></br>
          <li>Seasonal Summary</li>
            <% stat_tracker.teams.each do |team| %>
              <br></br>
              <%= team.team_name + ": " %>
              <%= stat_tracker.seasonal_summary(team.team_id) %>
                <br></br>
            <% end %>
            </br><br></br>
        </ul>
      </h2>
    </div>
  </body>
</html>
